In [ ]:
!pip install pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("LoanPrediction").getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
num_rows = df.count()
num_columns = len(df.columns)

# Print the shape
print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 307511
Number of Columns: 37

In [ ]:
data_path = "/content/application_train.csv"
df = spark.read.csv(data_path, header=True, inferSchema=True)
df.show()

+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+----------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_EMP_PHONE|FLAG_WORK_PHONE|FLAG_CONT_MOBILE|FLAG_PHONE|CNT_FAM_MEMBERS|REGION_RATING_CLIENT|REGION_RATING_CLIENT_W_CITY|REG_REGION_NOT_LIVE_REGION|REG_REGION_NOT_WORK_REGION|   ORGANIZATION_TYPE|FLAG_DOCUMENT_2|FLAG_DOCUMENT_3|FLAG_DOCUMENT_4|FLAG_DOCUMENT_5|FLAG_DOCUMENT_6|FLAG_DOCUMENT_7|FLAG_DOCUMENT_8|FLAG_DOCUMENT_9|FLAG_DOCUMENT_10|FLAG_DOCUMENT_11|FLAG_DOCUMENT_12|
+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+----------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|         Working|Secondary / secon...|Single / not married|House / apartment|     -9461|         -637|         1|             1|              0|               1|         1|              1|                   2|                          2|                         0|                         0|Business Entity T...|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|   State servant|    Higher education|             Married|House / apartment|    -16765|        -1188|         1|             1|              0|               1|         1|              2|                   1|                          1|                         0|                         0|              School|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|         Working|Secondary / secon...|Single / not married|House / apartment|    -19046|         -225|         1|             1|              1|               1|         1|              1|                   2|                          2|                         0|                         0|          Government|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|         Working|Secondary / secon...|      Civil marriage|House / apartment|    -19005|        -3039|         1|             1|              0|               1|         0|              2|                   2|                          2|                         0|                         0|Business Entity T...|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|         Working|Secondary / secon...|Single / not married|House / apartment|    -19932|        -3038|         1|             1|              0|               1|         0|              1|                   2|                          2|                         0|                         0|            Religion|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|
+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+----------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
only showing top 5 rows

In [ ]:
df.dtypes

[('TARGET', 'int'),
 ('NAME_CONTRACT_TYPE', 'string'),
 ('CODE_GENDER', 'string'),
 ('FLAG_OWN_CAR', 'string'),
 ('FLAG_OWN_REALTY', 'string'),
 ('CNT_CHILDREN', 'int'),
 ('AMT_INCOME_TOTAL', 'double'),
 ('AMT_CREDIT', 'double'),
 ('AMT_ANNUITY', 'double'),
 ('NAME_INCOME_TYPE', 'string'),
 ('NAME_EDUCATION_TYPE', 'string'),
 ('NAME_FAMILY_STATUS', 'string'),
 ('NAME_HOUSING_TYPE', 'string'),
 ('DAYS_BIRTH', 'int'),
 ('DAYS_EMPLOYED', 'int'),
 ('FLAG_MOBIL', 'int'),
 ('FLAG_EMP_PHONE', 'int'),
 ('FLAG_WORK_PHONE', 'int'),
 ('FLAG_CONT_MOBILE', 'int'),
 ('FLAG_PHONE', 'int'),
 ('CNT_FAM_MEMBERS', 'int'),
 ('REGION_RATING_CLIENT', 'int'),
 ('REGION_RATING_CLIENT_W_CITY', 'int'),
 ('REG_REGION_NOT_LIVE_REGION', 'int'),
 ('REG_REGION_NOT_WORK_REGION', 'int'),
 ('ORGANIZATION_TYPE', 'string'),
 ('FLAG_DOCUMENT_2', 'int'),
 ('FLAG_DOCUMENT_3', 'int'),
 ('FLAG_DOCUMENT_4', 'int'),
 ('FLAG_DOCUMENT_5', 'int'),
 ('FLAG_DOCUMENT_6', 'int'),
 ('FLAG_DOCUMENT_7', 'int'),
 ('FLAG_DOCUMENT_8', 'int'),
 ('FLAG_DOCUMENT_9', 'int'),
 ('FLAG_DOCUMENT_10', 'int'),
 ('FLAG_DOCUMENT_11', 'int'),
 ('FLAG_DOCUMENT_12', 'int')]

In [ ]:
from pyspark.sql.functions import col, sum
dataframes = [df]
for df in dataframes:
    print("Null value counts for DataFrame:")
    for column_name in df.columns:
        null_count = df.where(col(column_name).isNull()).count()
        print(f"Column '{column_name}': {null_count} null values")
    print("\n")

Null value counts for DataFrame:
Column 'TARGET': 0 null values
Column 'NAME_CONTRACT_TYPE': 0 null values
Column 'CODE_GENDER': 0 null values
Column 'FLAG_OWN_CAR': 0 null values
Column 'FLAG_OWN_REALTY': 0 null values
Column 'CNT_CHILDREN': 0 null values
Column 'AMT_INCOME_TOTAL': 0 null values
Column 'AMT_CREDIT': 0 null values
Column 'AMT_ANNUITY': 12 null values
Column 'NAME_INCOME_TYPE': 0 null values
Column 'NAME_EDUCATION_TYPE': 0 null values
Column 'NAME_FAMILY_STATUS': 0 null values
Column 'NAME_HOUSING_TYPE': 0 null values
Column 'DAYS_BIRTH': 0 null values
Column 'DAYS_EMPLOYED': 0 null values
Column 'FLAG_MOBIL': 0 null values
Column 'FLAG_EMP_PHONE': 0 null values
Column 'FLAG_WORK_PHONE': 0 null values
Column 'FLAG_CONT_MOBILE': 0 null values
Column 'FLAG_PHONE': 0 null values
Column 'CNT_FAM_MEMBERS': 2 null values
Column 'REGION_RATING_CLIENT': 0 null values
Column 'REGION_RATING_CLIENT_W_CITY': 0 null values
Column 'REG_REGION_NOT_LIVE_REGION': 0 null values
Column 'REG_REGION_NOT_WORK_REGION': 0 null values
Column 'ORGANIZATION_TYPE': 0 null values
Column 'FLAG_DOCUMENT_2': 0 null values
Column 'FLAG_DOCUMENT_3': 0 null values
Column 'FLAG_DOCUMENT_4': 0 null values
Column 'FLAG_DOCUMENT_5': 0 null values
Column 'FLAG_DOCUMENT_6': 0 null values
Column 'FLAG_DOCUMENT_7': 0 null values
Column 'FLAG_DOCUMENT_8': 0 null values
Column 'FLAG_DOCUMENT_9': 0 null values
Column 'FLAG_DOCUMENT_10': 0 null values
Column 'FLAG_DOCUMENT_11': 0 null values
Column 'FLAG_DOCUMENT_12': 0 null values

In [ ]:
from pyspark.sql.functions import col, when, median
median_amt_annuity = df.select(median(col("AMT_ANNUITY"))).first()[0]
median_cnt_fam_members = df.select(median(col("CNT_FAM_MEMBERS"))).first()[0]
df = df.fillna({
    "AMT_ANNUITY": median_amt_annuity,
    "CNT_FAM_MEMBERS": median_cnt_fam_members
})
df_filled.show()

+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_EMP_PHONE|FLAG_WORK_PHONE|FLAG_CONT_MOBILE|FLAG_PHONE|CNT_FAM_MEMBERS|REGION_RATING_CLIENT|REGION_RATING_CLIENT_W_CITY|REG_REGION_NOT_LIVE_REGION|REG_REGION_NOT_WORK_REGION|   ORGANIZATION_TYPE|FLAG_DOCUMENT_2|FLAG_DOCUMENT_3|FLAG_DOCUMENT_4|FLAG_DOCUMENT_5|FLAG_DOCUMENT_6|FLAG_DOCUMENT_7|FLAG_DOCUMENT_8|FLAG_DOCUMENT_9|FLAG_DOCUMENT_10|FLAG_DOCUMENT_11|FLAG_DOCUMENT_12|
+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|             Working|Secondary / secon...|Single / not married|House / apartment|     -9461|         -637|         1|             1|              0|               1|         1|              1|                   2|                          2|                         0|                         0|Business Entity T...|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|       State servant|    Higher education|             Married|House / apartment|    -16765|        -1188|         1|             1|              0|               1|         1|              2|                   1|                          1|                         0|                         0|              School|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|             Working|Secondary / secon...|Single / not married|House / apartment|    -19046|         -225|         1|             1|              1|               1|         1|              1|                   2|                          2|                         0|                         0|          Government|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|             Working|Secondary / secon...|      Civil marriage|House / apartment|    -19005|        -3039|         1|             1|              0|               1|         0|              2|                   2|                          2|                         0|                         0|Business Entity T...|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|             Working|Secondary / secon...|Single / not married|House / apartment|    -19932|        -3038|         1|             1|              0|               1|         0|              1|                   2|                          2|                         0|                         0|            Religion|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|
|     0|        Cash loans|          M|           N|              Y|           0|         99000.0|  490495.5|    27517.5|       State servant|Secondary / secon...|             Married|House / apartment|    -16941|        -1588|         1|             1|              1|               1|         1|              2|                   2|                          2|                         0|                         0|               Other|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           Y|              Y|           1|        171000.0| 1560726.0|    41301.0|Commercial associate|    Higher education|             Married|House / apartment|    -13778|        -3130|         1|             1|              0|               1|         1|              3|                   2|                          2|                         0|                         0|Business Entity T...|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|
|     0|        Cash loans|          M|           Y|              Y|           0|        360000.0| 1530000.0|    42075.0|       State servant|    Higher education|             Married|House / apartment|    -18850|         -449|         1|             1|              1|               1|         0|              2|                   3|                          3|                         0|                         0|               Other|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|        112500.0| 1019610.0|    33826.5|           Pensioner|Secondary / secon...|             Married|House / apartment|    -20099|       365243|         1|             0|              0|               1|         0|              2|                   2|                          2|                         0|                         0|                 XNA|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|   Revolving loans|          M|           N|              Y|           0|        135000.0|  405000.0|    20250.0|             Working|Secondary / secon...|Single / not married|House / apartment|    -14469|        -2019|         1|             1|              0|               1|         0|              1|                   2|                          2|                         0|                         0|         Electricity|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  652500.0|    21177.0|             Working|    Higher education|             Married|House / apartment|    -10197|         -679|         1|             1|              0|               1|         0|              3|                   2|                          2|                         0|                         0|            Medicine|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|       38419.155|  148365.0|    10678.5|           Pensioner|Secondary / secon...|             Married|House / apartment|    -20417|       365243|         1|             0|              0|               1|         1|              2|                   2|                          2|                         0|                         0|                 XNA|              0|              0|              0|              0|              1|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|   80865.0|     5881.5|             Working|Secondary / secon...|             Married|House / apartment|    -13439|        -2717|         1|             1|              1|               1|         1|              2|                   2|                          2|                         0|                         0|Business Entity T...|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          M|           Y|              N|           1|        225000.0|  918468.0|    28966.5|             Working|Secondary / secon...|             Married|House / apartment|    -14086|        -3028|         1|             1|              0|               1|         0|              3|                   2|                          2|                         0|                         0|       Self-employed|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           0|        189000.0|  773680.5|    32778.0|             Working|Secondary / secon...|             Married|House / apartment|    -14583|         -203|         1|             1|              0|               1|         0|              2|                   2|                          1|                         0|                         0|   Transport: type 2|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          M|           Y|              Y|           0|        157500.0|  299772.0|    20160.0|             Working|Secondary / secon...|Single / not married| Rented apartment|     -8728|        -1157|         1|             1|              0|               1|         0|              1|                   3|                          3|                         0|                         0|Business Entity T...|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|
|     0|        Cash loans|          M|           N|              N|           0|        108000.0|  509602.5|    26149.5|             Working|Secondary / secon...|             Married|House / apartment|    -12931|        -1317|         1|             1|              0|               1|         0|              2|                   2|                          2|                         0|                         0|          Government|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|   Revolving loans|          F|           N|              Y|           1|         81000.0|  270000.0|    13500.0|             Working|Secondary / secon...|             Married|House / apartment|     -9776|         -191|         1|             1|              0|               1|         0|              3|                   2|                          2|                         0|                         0|        Construction|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|   Revolving loans|          F|           N|              Y|           0|        112500.0|  157500.0|     7875.0|             Working|Secondary / secon...|               Widow|House / apartment|    -17718|        -7804|         1|             1|              0|               1|         1|              1|                   1|                          1|                         0|                         0|             Housing|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
|     0|        Cash loans|          F|           N|              Y|           1|         90000.0|  544491.0|    17563.5|       State servant|    Higher education|Single / not married|House / apartment|    -11348|        -2038|         1|             1|              1|               1|         1|              2|                   2|                          2|                         0|                         0|        Kindergarten|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|
+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+--------------+---------------+----------------+----------+---------------+--------------------+---------------------------+--------------------------+--------------------------+--------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, sum
dataframes = [df]
for df in dataframes:
    print("Null value counts for DataFrame:")
    for column_name in df.columns:
        null_count = df.where(col(column_name).isNull()).count()
        print(f"Column '{column_name}': {null_count} null values")
    print("\n")

Null value counts for DataFrame:
Column 'TARGET': 0 null values
Column 'NAME_CONTRACT_TYPE': 0 null values
Column 'CODE_GENDER': 0 null values
Column 'FLAG_OWN_CAR': 0 null values
Column 'FLAG_OWN_REALTY': 0 null values
Column 'CNT_CHILDREN': 0 null values
Column 'AMT_INCOME_TOTAL': 0 null values
Column 'AMT_CREDIT': 0 null values
Column 'AMT_ANNUITY': 0 null values
Column 'NAME_INCOME_TYPE': 0 null values
Column 'NAME_EDUCATION_TYPE': 0 null values
Column 'NAME_FAMILY_STATUS': 0 null values
Column 'NAME_HOUSING_TYPE': 0 null values
Column 'DAYS_BIRTH': 0 null values
Column 'DAYS_EMPLOYED': 0 null values
Column 'FLAG_MOBIL': 0 null values
Column 'FLAG_EMP_PHONE': 0 null values
Column 'FLAG_WORK_PHONE': 0 null values
Column 'FLAG_CONT_MOBILE': 0 null values
Column 'FLAG_PHONE': 0 null values
Column 'CNT_FAM_MEMBERS': 0 null values
Column 'REGION_RATING_CLIENT': 0 null values
Column 'REGION_RATING_CLIENT_W_CITY': 0 null values
Column 'REG_REGION_NOT_LIVE_REGION': 0 null values
Column 'REG_REGION_NOT_WORK_REGION': 0 null values
Column 'ORGANIZATION_TYPE': 0 null values
Column 'FLAG_DOCUMENT_2': 0 null values
Column 'FLAG_DOCUMENT_3': 0 null values
Column 'FLAG_DOCUMENT_4': 0 null values
Column 'FLAG_DOCUMENT_5': 0 null values
Column 'FLAG_DOCUMENT_6': 0 null values
Column 'FLAG_DOCUMENT_7': 0 null values
Column 'FLAG_DOCUMENT_8': 0 null values
Column 'FLAG_DOCUMENT_9': 0 null values
Column 'FLAG_DOCUMENT_10': 0 null values
Column 'FLAG_DOCUMENT_11': 0 null values
Column 'FLAG_DOCUMENT_12': 0 null values

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
indexers = [
    StringIndexer(inputCol=col, outputCol=col + "_index")
    for col in ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']
]
encoder = OneHotEncoder(inputCols=[indexer.getOutputCol() for indexer in indexers], outputCols=[col + "_encoded" for col in ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE']])
assembler = VectorAssembler(inputCols=encoder.getOutputCols() + ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'DAYS_BIRTH', 'DAYS_EMPLOYED'], outputCol="features")


lr = LogisticRegression(featuresCol='features', labelCol='TARGET')
pipeline = Pipeline(stages=indexers + [encoder, assembler, lr])
model = pipeline.fit(df)

# Train-Test Split (simplified)
train_data, test_data = df.randomSplit([0.8, 0.2], seed=42)

# Make Predictions
predictions = model.transform(test_data)

# Model Evaluation
evaluator = BinaryClassificationEvaluator(labelCol='TARGET')
auc = evaluator.evaluate(predictions)

print(f"AUC: {auc}")

# Stop Spark session
spark.stop()

AUC: 0.6556402969015676